@page
@model PrivacyModel
@{
    ViewData["Title"] = "George QA Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>George has not setup any real policies at the moment.</p>
